<script setup lang="ts">
import SoupPage from "@/pages/soupPage.vue";</script>

<template>
  <v-app id="inspire" theme="dark">

    <v-main>
      <v-container fluid>
        <Suspense>
          <soup-page></soup-page>
        </Suspense>
      </v-container>
    </v-main>
  </v-app>
</template>

