<template>
  <v-card color="background">
    <v-toolbar color="grey-darken-4">
      <v-toolbar-items>
        <v-btn
          icon
          @click="close">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-title>{{ newWordForm.id ? 'Update' : 'New' }} Ingredient</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn variant="text" :disabled="!isNewWordFormValid || loading" @click="create">
          Add
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-progress-linear indeterminate :active="loading"></v-progress-linear>
    <v-card-text>
      <v-form v-model="isNewWordFormValid">
        <v-row>
          <v-col cols="12" md="6">
            <!--left col-->
            <v-row>
              <v-col>
                <v-text-field label="name" v-model="newWordForm.name" :rules="[required]" hint="your new word"
                              persistent-hint></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select label="type"
                          :items="ingredientTypeChoices" v-model="newWordForm.type" :rules="[required]"
                          hint="Ingredients must provide at least one base" persistent-hint @update:menu="loadAlts">
                </v-select>
              </v-col>
              <v-col>
                <v-autocomplete label="bases"
                                :items="basesArray" item-title="name" return-object
                                :disabled="newWordForm.type !== IngredientType.Ingredient"
                                :rules="newWordForm.type !== IngredientType.Ingredient ? [] : [required]"
                                multiple v-model="newWordForm.bases">
                </v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-autocomplete label="alt"
                                :items="alts" v-model="newWordForm.alt"
                                item-title="name" return-object
                                hint="If your ingredient is an alt for an other Ingredient or Base"
                                persistent-hint @update:search="loadAlts"
                                :disabled="!newWordForm.type"></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-autocomplete v-model="newWordForm.tags"
                                :items="tagsArray"
                                item-title="name"
                                return-object
                                label="tags"
                                :rules="[required]" chips closable-chips multiple
                                hint="Tags of your new Ingredient" persistent-hint>
                  <template v-slot:chip="{props, item}">
                    <v-chip :color="tagColorChoices.get(item.raw.color)" v-bind="props">#{{ item.raw.name }}</v-chip>
                  </template>
                  <template v-slot:item="{props, item}">
                    <v-list-item v-bind="props">
                      <template v-slot:title>
                        <v-chip :color="tagColorChoices.get(item.raw.color)">#{{ item.title }}</v-chip>
                      </template>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-col>
          <v-col>
            <!--right col-->
            <v-row>
              <v-col>
                <v-textarea label="description" v-model="newWordForm.definition" :rules="[required]"
                            hint="Description of your ingredient, try yo be scholar as possible and give much detail as possible on it's use case"
                            persistent-hint></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-textarea label="examples" v-model="newWordForm.examples" :rules="[required]"
                            hint="Exemples sentances of use case, can be casual sentences or sentences in an RP context. Each sentence need to be marked with a newline."
                            persistent-hint></v-textarea>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>

  <v-snackbar
    v-model="snackbar"
    timeout="10000"
    color="error"
  >
    {{ snackText }}
  </v-snackbar>
</template>

<script setup lang="ts">
import {reactive, ref} from "vue";
import Ingredient, {IngredientType} from "@/models/ingredient";
import NewWordForm from "@/forms/newWordForm";
import TagColorChoices from "@/api/tagColorChoices";
import Tag from "@/models/tag";
import {useDisplay} from "vuetify";
import IngredientConnector, {INGREDIENT_LIST_FIELDS} from "@/api/ingredientConnector";
import {GraphQLMutationError, GraphQLQueryError, mapError} from "@/api/errors";

const tagColorChoices = await TagColorChoices.getInstance()

const props = withDefaults(defineProps<{
  tags: Array<Tag>,
  bases: Array<Ingredient>,
  ingredient?: Ingredient
}>(), {})

const emits = defineEmits<{
  (e: 'close'): void,
  (e: 'created:ingredient', newIngredient: Ingredient): void,
  (e: 'updated:ingredient', newIngredient: Ingredient): void
}>()

const isNewWordFormValid = ref<boolean>()
const snackbar = ref<boolean>()
const snackText = ref<string>('')
const loading = ref<boolean>(false)
const word = ref<Ingredient>()
const alts = ref<Ingredient[]>()

let newWordForm = reactive<NewWordForm>(new NewWordForm())
const tagsArray = ref<Array<Tag>>(props.tags)
const basesArray = ref<Array<Ingredient>>(props.bases)

const ingredientConnector = new IngredientConnector()

const ingredientType = IngredientType
const {xs} = useDisplay()

const ingredientTypeChoices = Object.entries(IngredientType).map((entry: Array<string>) => {
  return {
    title: entry[0],
    value: entry[1]
  }
})

newWordForm.id = props.ingredient?.getId()
if (newWordForm.id) {
  newWordForm.type = props.ingredient?.ingredient_type
  newWordForm.tags = props.ingredient?.tags
  newWordForm.name = props.ingredient?.name
  newWordForm.examples = props.ingredient?.examples
  newWordForm.alt = props.ingredient?.alt
  newWordForm.bases = props.ingredient?.bases
  newWordForm.definition = props.ingredient?.definition
}

function required(v: any) {
  return !!v || 'Field is required'
}

function close() {
  emits('close')
  newWordForm = reactive<NewWordForm>(new NewWordForm())
}

async function create() {
  loading.value = true
  let ingredientId: number
  try {
    ingredientId = await ingredientConnector.mutate(newWordForm.parse())
  } catch (e) {
    if (e instanceof GraphQLMutationError || e instanceof GraphQLQueryError) {
      snackText.value = e.errors.map((e: any) => mapError(e.message)).join('\n')
      snackbar.value = true
      loading.value = false
      return
    } else {
      throw e
    }
  }
  const newIngredient = await ingredientConnector.retrieve(`query{
    ingredient(id: "${Ingredient.encodeId(ingredientId)}"){
    ${INGREDIENT_LIST_FIELDS}
  ingredientType
  }
  }`)

  if (props.ingredient) {
    emits('updated:ingredient', newIngredient)
    close()
  } else {
    emits('created:ingredient', newIngredient)
    close()
  }
  loading.value = false
}

async function loadAlts() {
  alts.value = await ingredientConnector.list(`
query {
  allIngredients(ingredientType: ${newWordForm.type}){
    edges{
      node{
        id
        name
      }
    }
  }
}`)
}
</script>

<style scoped>

</style>
